.homes {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 5rem;
  margin: 15rem 0;
  justify-items: center;
  @media screen and(max-width:980px) {
    grid-column: 1 /-1;
      
      
    }
}
