.story__pectures {
  background-color: rgb(44, 13, 102);
  grid-column: full-start / col-end 4;
  background-image: linear-gradient( hsla(33, 46%, 58%, 0.5), hsla(33, 46%, 58%, 0.5)),
    url(../../img/back.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; 
  @media screen and(max-width:980px) {
    grid-column: 1 /-1;
      
      
    }
  .img--1 {
    width: 100%;
    grid-column: 2 / 6;
    grid-row: 2/6;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.103);
  }
  .img--2 {
    width: 115%;
    grid-column: 4 / 7;
    grid-row: 4/6;
    z-index: 43;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.233);
    @media screen and(max-width:980px) {
      width: 100%;
    grid-row: 3/5;
      
        
        
      }
  }
}
