.sidebar {
  background-color: var(--color-primary);
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-content: center;
  padding: 2rem 0;
  @media screen and(max-width:980px) {
    grid-column: 1 /-1;
    justify-content: end;
    padding-right: 2rem;
    align-items: center;
      
      
    }
  .navbtn {
    border: none;
    border-radius: 0;
    background-color: white;
    height: 2px;
    width: 4.5rem;
    top:4rem;
    left:2rem;
    cursor: pointer;
    &:focus{
      outline:invert;
    }
    &::after,
    &::before {
      content: "";
      background-color: white;
      height: 2px;
      width: 4.5rem; 
      display: block;
    }
    &::before {
      transform: translateY(14px);
    }
    &::after {
      transform: translateY(-14px);
    }
  }
}
