

// container style
.container {
  display: grid;
  grid-template-rows: max-content min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start ] minmax(5rem, 1fr) [ center-start ] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(5rem, 1fr) [full-end];
  justify-content: center;


  @media screen and (max-width:980px) {
    grid-template-columns:  none ;
    grid-template-rows: 7rem repeat(8 , max-content);
    
  }
}
