:root {
  --color-primary: rgb(197, 153, 99);
  --color-primary-dark: rgb(179, 133, 81);
  --color-secondry: rgb(17, 30, 40);
  --color-grey-light-1: rgb(249, 247, 246);
  --color-grey-light-2: rgb(171, 171, 171);
  --color-grey-dark-1: rgb(84, 75, 59);
  --color-grey-dark-2: rgb(108, 93, 75);

  // fonts
  --font-primary: "Nunito", sans-serif;
  --font-secondry: "Josefin Sans", sans-serif;
}